.header {
    width: 100%;
    height: 90px;
    background: #2d3955;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
}

.header-light {
    width: 100%;
    height: 90px;
    background: #cfe392;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0a2822;
}

.button-search {
    position: relative;
    text-align: end;
    margin-right: 20px;
}

.search-field {
    position: absolute;
    top: 90px;
    right: -200px;
    width: 200px;
    transition: ease-in-out .3s;
    padding: 3px;
    background: #2d3955;
    text-align: center;
}

    .active {
        right: 0;
    }
