@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    overflow-x: hidden;
}

.ref-container {
    width: 90%;
    padding: 50px;
    background-color: #f5f5f5;
    margin: 50px auto;
}

.container {
    margin-top: 80px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


