.up-light {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 80%;
  background-color: #3a8f3d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20%;
  cursor: pointer;
}

.up-dark {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0651f4;
  color: white;

  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 20%;
  cursor: pointer;
}